!bg = "url(/images/micebg.jpg)"
!base = #FFFBA7
!dark = #694F44
!light = #FFF9E6
!link = #B87F26
!info = #F0D53F
!grey = #aaaaaa
!white = #fff

html
  :background-color = !grey

body
  font-family: DejaVu Sans Mono,courier new,fixed

a
  color = !info
  text-decoration: none
  &:hover
    text-decoration: underline

#header
  background-color = !dark
  position: fixed
  width: 100%
  #user_nav
    text-align: right
    padding: 0.5em 1em
    color: white

h2
  font-weight: bold
  font-size: 1.13em

#login
  padding-top: 5.1em

#help
  background: url(../images/black_arrow_big.png) no-repeat
  color: white
  width: 330px
  padding: 35px 20px
  display: none
  font-size: 0.81em
  h2
    margin-left: 1em
  li
    list-style: disc outside
    margin: 0.5em 0 0 1em

#main
  padding: 0 1em
  #toolbar
    position: fixed
    bottom: 0
    width: 100%
    color: #fff
    margin-left: -1em

    ul
      background-color = !dark
      padding: 0
      margin: 0
      li
        padding: 5px 0
        margin-left: 1em
        display: inline-block
    input
      background-color = !grey
      padding: 1em
      display: block
      border: 0
      clear: both
      font-size: 1em
      width: 100%

#log
  overflow: auto
  padding: 2.3em 0 5.1em 0
  .user
    display: none
  .sheet
    display: inline-block
    width: 10em
    color: white
    padding: 0 1em 0 0
    text-align: right