html {
  background-color: #888888;
  height: 100%; }

body {
  font-family: Verdana, sans; }

a {
  text-decoration: none;
  color: #b87f26; }
  a:hover {
    text-decoration: underline; }

#wrap {
  width: 1000px;
  margin: 0 auto;
  background: #fff9e6; }

#footer {
  clear: both;
  padding: 20px;
  background: #fff9e6; }
  #footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    vertical-align: top; }
  #footer li {
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: bold; }

#header {
  /* http://www.flickr.com/photos/indykethdy/2530686902/ */
  padding: 20px; }
  #header img {
    height: 50px; }
  #header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    line-height: 50px;
    vertical-align: top; }
  #header li {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 200%;
    font-weight: bold; }

#sidebar {
  padding: 20px;
  float: left;
  width: 150px; }

#main {
  background-color: #fff9e6;
  padding: 20px;
  float: right;
  width: 770px; }
  #main #tracking {
    font-size: 120%;
    margin: 1em 0; }
    #main #tracking .num {
      color: #f0d53f;
      font-size: 150%; }
  #main .created_at {
    font-size: 90%;
    color: #888888; }
  #main h1 {
    font-size: 200%;
    font-weight: bold; }
    #main h1 .default {
      color: #888888; }
  #main #new-roll {
    border: 5px solid #888888;
    padding: 5px;
    background-color: #fffba7; }
    #main #new-roll input {
      width: 150px; }
  #main h2 {
    font-size: 160%;
    font-weight: bold; }
  #main #rolls {
    padding: 10px; }
    #main #rolls li {
      position: relative;
      line-height: 1.6;
      border-bottom: 1px dotted #f0d53f; }
      #main #rolls li .by {
        display: inline-block;
        width: 150px;
        margin-right: 20px;
        font-size: 120%; }
      #main #rolls li .at {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 80%;
        color: #b87f26; }
      #main #rolls li .successes {
        display: inline-block;
        font-size: 160%;
        font-weight: bold;
        width: 80px; }
      #main #rolls li .dice {
        display: inline-block; }
      #main #rolls li .traitor {
        font-size: 120%;
        color: #ccc; }
      #main #rolls li .success {
        font-size: 150%; }
      #main #rolls li .explodable {
        font-size: 160%;
        color: #f88; }
      #main #rolls li .exploded_failure {
        color: #ccc;
        font-size: 120%; }
      #main #rolls li .exploded_success {
        font-size: 120%; }
  #main .bubble {
    width: auto;
    margin-bottom: 24px;
    font-size: 0.8em; }
    #main .bubble blockquote {
      margin: 0;
      padding: 0;
      border: 1px solid #c9c2c1;
      background-color: #fff;
      font-size: 130%; }
      #main .bubble blockquote p {
        margin: 20px;
        line-height: 1.6; }
    #main .bubble cite {
      position: relative;
      margin: 0px;
      padding: 7px 0px 0px 15px;
      top: 6px;
      background: transparent url(/images/tip.gif) no-repeat 20px 0;
      font-style: normal; }
