%ul
  %li Name
  %li Age
  %li Home
  %li Fur Colour
  %li Cloak Colour

%ul
  %li Parents
  %li Senior Artisan
  %li Mentor
  %li Friend
  %li Enemy

%ul
  %li Fate
  %li Persona

%ul
  %li Healthy
  %li Hungry
  %li Angry
  %li Tired
  %li Injured
  %li Sick

%ul
  %li Belief
  %li Goal
  %li Instinct
  %li Contacts
  %li Gear

%ul
  %li Nature
  %li Will
  %li Health
  %li Resources
  %li Circles

%ul
  %li Fighter
  %li Healer
  %li Hunter
  %li Instructor
  %li Pathfinder
  %li Scout
  %li Survivalist
  %li Weather Watcher
  %li &nbsp;
  %li &nbsp;
  %li &nbsp;
  %li &nbsp;

%ul
  %li Orator
  %li Persuader
  %li Deceiver
  %li &nbsp;
  %li &nbsp;
  %li &nbsp;
  %li &nbsp;
  %li &nbsp;
  %li &nbsp;
  %li &nbsp;
  %li &nbsp;
  %li &nbsp;

= link_to 'Edit', edit_sheet_path(@sheet)
|
= link_to 'Back', sheets_path
