%li.event{:id => event.id}
  .at{:title => event.created_at.strftime('%I:%M%P %a %d %b %G')}=event.created_at.strftime('%I:%M%P')
  .actor
    - unless event.sheet.nil?
      =event.sheet.name
    - else
      "Noone"
  .data=event.result
  .type=event.event_type