%li.event{:id => event.id, :last => event.created_at.to_i}
  .data=event.result
  .actor
    - unless event.sheet.nil?
      =event.sheet.name
    - else
      "Noone"
  .at{:title => event.created_at.strftime('%I:%M%P %a %d %b %G')}
    ==#{distance_of_time_in_words_to_now(event.created_at)} ago
  .type=event.event_type
