%h2
  Original document:
  =link_to @page.document.pdf_name, @page.document.url
.pagination.alt-text
  - for page in @page.document.pages
    =link_to_unless @page == page, "p#{page.number}", page
  (
  =link_to "All on #{@page.document.formatted_date}", :controller => "pages", :year => @page.document.date.year, :month => @page.document.date.month, :day => @page.document.date.day
  )
#page
  =@page.page_html
  .reset
    .sections
      =render :partial => "section", :collection => @page.sections
#controls
  %h3=@page.document.title
