Original document:
=link_to @page.document.pdf_name, @page.document.url
#page
  =@page.page_html
  .reset
    .sections
      =render :partial => "section", :collection => @page.sections
#controls
  %h3=@page.document.title
  -unless @page.previous_page.nil?
    =link_to "<< p#{@page.previous_page.number}", @page.previous_page
  ="p#{@page.number}"
  -unless @page.next_page.nil?
    =link_to "p#{@page.next_page.number} >>", @page.next_page
  %p=link_to 'Page Index', pages_path
