%h1 Listing documents

%table
  %thead
    %tr
      %th Date
      %th Type
      %th Title
      %th Url
  %tbody
    - for document in @documents
      %tr
        %td=h document.date
        %td=h document.document_type
        %td=h document.title
        %td=h document.url
        %td=link_to 'Show', document
