%h1=@game.name
%h2="Game Code: #{link_to @game.permalink, @game}"
%h2 Description
%blockquote=@game.description
%h2 Missions
%ul
  %li="No missions!" if @game.missions.empty?
  =render :partial => "missions/mission_item", :collection => @game.missions
%hr
=link_to "New Mission", new_game_mission_path(@game)
=link_to "Edit Game", edit_game_path