<p>
  <b>Name:</b>
  <%=h @tradeskill.name %>
</p>

<p>
  <b>Parent skill:</b>
  <%=h @tradeskill.parent_skill_id %>
</p>


<%= link_to 'Edit', edit_tradeskill_path(@tradeskill) %> |
<%= link_to 'Back', tradeskills_path %>
