-profession_count = 50
%li.profession{:profession_id => profession.id}
  %h1
    .name=profession.name
    .skill-level=profession.value
    .skill-max=profession.max
  %ul
    =render :partial => "spells/spell", :collection => profession.all_recipes[0..profession_count-1]
  -if profession.all_recipes.size > profession_count
    %ul.show_all
      %li=link_to "show all", "#"
