%div{:class=> type}
  .info
    -unless url.nil?
      %a{:href => "http://theyworkforyou.co.nz/mps/#{url}"}
        =image_tag("mps/#{url}.jpg", :height => 59, :width => 49)
        %label=name
  .text=text
