.qna
  %h1=link_to "#{written_question.question_year}::#{written_question.question_number} (#{written_question.subject})", written_question
  %h2=written_question.portfolio_name
  =render :partial => "question", :locals => { :type => "question", :name => written_question.asker_name, :url => written_question.asker_url, :text => written_question.question, :date => written_question.date_asked }
  =render :partial => "question", :locals => { :type => "answer", :name => written_question.respondent_name, :url => written_question.respondent_url, :text => written_question.answer, :date => nil }