%ul#hints
  %li
    %em 6d6
    Roll six dice
  %li
    %em !
    Explode a roll
  %li
    %em Ob3
    Set obstacle to 3
  %li
    %em Hildred: Quote me.
    Record a Hildred quote.
  %li
    %em Goal: Win!
    Set a goal for a conflict.
  %li
    %em A/D/F
    Script three actions
  %li
    %em D=9
    Set your disposition to 9.
  %li
    %em D-2
    Reduce your disposition by two.