.bubble
  %blockquote
    %p What's this all about?
    %p="This is a site to help with skype gaming for #{link_to "Mouse Guard", "http://archaiasp.com/mouse_guard_rpg.php"}."
    %p In brief, to roll dice online with your friends, all you need is the same mission code. You can hit the "New Mission" button, or enter an existing code and get taken to an existing mission.
    %p="Now ... #{link_to "Go Play", "http://go-play.org/?p=3"}."
  %cite=link_to "wombleton", "http://twitter.com/wombleton"
#tracking
  %span.num=@missions
  Missions and
  %span.num=@rolls
  Rolls
%h1
  =button_to "New Mission"
%h1
  -form_tag @mission, :method => :get, :id => "existing_mission" do |f|
    =text_field_tag "mission_code", "Existing Mission", :class => "default"
    =submit_tag "Go", :id => "go_button"
