%h1=@mission.title
%blockquote=textilize(@mission.summary)
- if current_user.nil?
  %p
    You need to
    =link_to "login", login_path
    to use this screen!
- else
  #log
  #toolbar
    %ul#status
      %li.character
      %li.help=link_to "Help", "#"
    =render :partial => "add_event"
