-menu do
  =link_to "Game", game_path(@mission.game)

%h1=@mission.title
%blockquote=textilize(@mission.summary)
#new-roll
  -form_for @mission, :html => {:id => 'make_roll'} do |f|
    =hidden_field_tag "roll", ""
    =hidden_field_tag "latest", ""
    =text_field_tag "by", session[:by], :size => 8, :title => "Character Name"
    %label#dice
      \# Dice
      - for i in 1..12
        =link_to i, "?roll=#{i}d6", :title => "Roll #{i} six-sided dice."
%ul#rolls
  =render :partial => "roll", :collection => @mission.rolls
=link_to "Back to game #{@mission.game.permalink}", @mission.game
-form_for @mission, :html => {:id=> "explode_form"} do |f|
  =hidden_field_tag "explode", ""