%h1=@mission.title
%blockquote=textilize(@mission.summary)
- if @user.nil?
  %p
    You need to
    =link_to "login", login_path
    to use this screen!
- else
  #log
    %ul
      - for event in @mission.events
        %li{ :id => "event-#{event.id}" }
          .user=event.user.screen_name
          .sheet=event.sheet.name if event.sheet
          =event.result
#toolbar
  %ul#status
    %li.character=@user.try(:latest_sheet).try(:name)
    %li.help=link_to "Help", "#"
  =render :partial => "add_event"
