%h1=@mission.title
%blockquote=textilize(@mission.summary)
%ul#events
  =render :partial => "event", :collection => @mission.events
%hr
-form_for [@mission, @event] do |f|
  %label Who
  %br
  =f.text_field :by, :value => session[:by]
  %br
  %label Doing What
  %br
  =f.text_field :data
