-title = "Don't Mention It"
!!! Transitional
%html
  %head
    %title=title
    =stylesheet_link_tag 'reset', 'pages', 'jquery'
    =javascript_include_tag :defaults
  %body
    #page
      #header.section
        .wrapper
          %strong#page-title=link_to title, documents_path, :rel => "home"
          %p#page-description Fighting @mention spam with the flaming sword of API
      #sub-header.section.clearfix
        .wrapper
          #all-categories
            - if current_user
              =current_user.screen_name

              =link_to "Logout", logout_path
            -else
              =link_to "Login using twitter", login_path

      =yield
      #footer
        .wrapper
          Comments? Ideas? Corrections? Twitter
          =link_to "@wombleton", "http://twitter.com/wombleton"
