!!! Transitional
%html
  %head
    %title Mice Ensmartle Me
    =javascript_include_tag :defaults
    =stylesheet_link_tag 'reset', 'mice'
  %body.games
    #content
      #header
        %h1
          / http://www.flickr.com/photos/gradin/333366686/
          =image_tag "icon.png"
          Mouse Guard
      #body
        =yield

