!!! Transitional
%html
  %head
    %title Mice Ensmartle Me
    =javascript_include_tag :defaults, 'mice'
    =stylesheet_link_tag 'reset', 'mice', 'jquery'
  %body
    #wrap
      #header
        %ul
        #user_nav
          - if current_user
            =current_user.screen_name

            =link_to "Logout", logout_path
          -else
            =link_to "Login using twitter", login_path
      #main
        =yield
      #sidebar
        =image_tag "mouse_panel.jpg"
      #footer
