!!! Transitional
%html
  %head
    %title Mice Ensmartle Me
    =javascript_include_tag :defaults, "mice"
    =stylesheet_link_tag 'reset', 'mice'
  %body
    #wrap
      #header
        =link_to image_tag("icon.png"), games_path
        - @menu_items ||= []
        - @menu_items.unshift(link_to "Home", games_path)

        %ul
          -for item in (@menu_items)
            %li=item
      #main
        =yield
      #sidebar
        =image_tag "mouse_panel.jpg"
      #footer
        %ul
          -for item in (@menu_items || [])
            %li=item
