!!! Transitional
%html
  %head
    %title Mice Ensmartle Me
    =javascript_include_tag :defaults, 'mice'
    =stylesheet_link_tag 'reset', 'mice', 'jquery'
  %body
    #wrap
      #header
        %ul
          %li=link_to image_tag("icon.png"), games_path
          %li=link_to "Missions", missions_path
          %li=link_to "Characters", sheets_path
        #user_nav
          - if current_user
            =current_user.screen_name
            =link_to "Edit", edit_user_path(current_user)
            |
            =link_to "Logout", logout_path
          -else
            =link_to "Login", login_path
            |
            =link_to "Register", register_path
      #main
        =yield
      #sidebar
        =image_tag "mouse_panel.jpg"
      #footer
