!!! Transitional
%html
  %head
    %title Mice Ensmartle Me
    =javascript_include_tag :defaults, 'mice'
    =stylesheet_link_tag 'reset', 'mice', 'jquery'
  %body
    #wrap
      #header
        #user_nav
          - if current_user
            =current_user.screen_name

            =link_to "logout", logout_path
          -elsif !(controller.controller_name == "sessions" and controller.action_name == "new")
            =link_to "login using twitter", login_path
          -else
            &nbsp;
      #main
        =yield
