!!! Transitional
%html
  %head
    %title Mice Ensmartle Me
    =javascript_include_tag :defaults, :juggernaut
    =stylesheet_link_tag 'reset', 'games'
  %body.games
    #header
    #content
      =yield

