!!! Transitional
%html
  %head
    %title New Zealand Government Documents
    =stylesheet_link_tag 'reset', 'pages', 'jquery'
    =javascript_include_tag :defaults, 'documents'
  %body
    #page
      #header.section
        .wrapper
          %strong#page-title=link_to "New Zealand Government Documents", documents_path, :rel => "home"
          %p#page-description Making government documents searchable, linkable and connectable
      #sub-header.section.clearfix
        .wrapper
          %form#searchForm{ :action => pagesearch_path, :method => "get"}
            =text_field_tag :query, params[:query], :autocomplete => "off"
            =submit_tag "Search", :name => nil
          #all-categories
            %strong#all-categories-title Pages
            %ul.nav
              %li=link_to "Documents", documents_path
              %li=link_to "Questions", written_questions_path
      #main.section
        .wrapper
          - if flash[:error]
            .notice=flash[:error]
          =yield
      #footer
        .wrapper
          Comments? Ideas? Corrections? Twitter
          =link_to "@wombleton", "http://twitter.com/wombleton"
