!!! Transitional
%html
  %head
    %title New Zealand Government Documents
    =stylesheet_link_tag 'reset', 'pages'
  %body
    #page
      #header.section
        .wrapper
          %strong#page-title=link_to "New Zealand Government Documents", documents_path, :rel => "home"
          %p#page-description Making government documents searchable, linkable and connectable
      #sub-header.section.clearfix
        .wrapper
          %form#searchForm{ :action => pagesearch_path, :method => "get"}
            =text_field_tag :query, params[:query], :autocomplete => "off"
            =submit_tag "Search", :name => nil
          #all-categories
            %strong#all-categories-title Pages
            %ul.nav
              %li=link_to "Add", new_document_path
              %li=link_to "Documents", documents_path
      #main.section
        .wrapper
          - if flash[:error]
            .notice=flash[:error]
          #content.full.themes
            =yield
      #footer
        .wrapper
          Comments? Ideas? Corrections? Twitter
          =link_to "@wombleton", "http://twitter.com/wombleton"
