!!! Transitional
%html
  %head
    %title Budget 2009 Documents
    =stylesheet_link_tag 'reset', 'pages'
  %body
    #wrap
      #header
        #search
          %form#searchForm{ :action => pagesearch_path, :method => "get"}
            =text_field_tag :query, params[:query], :autocomplete => "off"
            =submit_tag "Search", :name => nil

        =link_to "Budget 2009 Documents", pages_path
      #main
        - if flash[:error]
          .notice=flash[:error]
        =yield
      #footer
        Comments? Ideas? Corrections? Twitter
        =link_to "@wombleton", "http://twitter.com/wombleton"
