-title = "Questions For Written Answer"
!!! Transitional
%html
  %head
    %title=title
    =stylesheet_link_tag 'reset', 'pages', 'jquery'
    =javascript_include_tag :defaults, 'documents'
  %body
    #page
      #header.section
        .wrapper
          %strong#page-title=link_to title, documents_path, :rel => "home"
          %p#page-description Making government documents searchable, linkable and connectable
      #sub-header.section.clearfix
        .wrapper
          #cse Loading
          #all-categories
            %strong#all-categories-title Pages
            %ul.nav
              %li=link_to "Documents", documents_path
              %li=link_to "Questions", written_questions_path
      =yield
      #footer
        .wrapper
          Comments? Ideas? Corrections? Twitter
          =link_to "@wombleton", "http://twitter.com/wombleton"
    %script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
    :javascript
      google.load('search', '1');
      google.setOnLoadCallback(function(){
        new google.search.CustomSearchControl('015132589256002685844:iazijsyqkcg').draw('cse');
      }, true);
